body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(128 236 46 / 96%);
    color: white;
    
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #572c57;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    background-color: yellow;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: rgb(128 236 46 / 96%);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    margin-left: 10px;
}

#summary {
    margin-top: 20px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .input-section {
        flex-direction: column;
    }
}
